%footer
  #copyright
  © 2018 LILYBELL.Y All rights reserved.
  #social-icon
    %a{href: "https://www.instagram.com/lilybell.y/?hl=ja"}
      %i.fab.fa-instagram.icon
    %a{href: "https://twitter.com/?lang=ja"}
      %i.fab.fa-twitter-square.icon



