=render 'articles/header'

%main
  .inner
    .lilybell1
      %img.block1-left.wow.fedeInDown{"data-wow-duration": "3s", "data-wow-delay": "2s", src: "https://images.unsplash.com/photo-1501891037204-8754d498396b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=80555bce4cf05e30abf66c993f9b52a6&auto=format&fit=crop&w=800&q=60"}
      .block1-right
        %p.wow.fadeInDown
          Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.<br>Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
        .image_block
          %img.image_block1.wow.fadeInLeft{"data-wow-duration": "2s", "data-wow-delay": "0.5s", src: "https://images.unsplash.com/photo-1523734650021-75837a627245?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=35dec89b9bb0bf3dbde8b6ea12784817&auto=format&fit=crop&w=2770&q=80"}
          %img.image_block2.wow.fadeInLeft{"data-wow-duration": "2s", "data-wow-delay": "0.5s", src: "https://images.unsplash.com/photo-1516247687183-61b3f697290e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=54336b0a4f77e33b62517aac3e9ec036&auto=format&fit=crop&w=800&q=60"}
    .lilybell2
      %p.wow.fadeIN
        Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.<br>Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
        Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.
      %img.wow.fadeIn{"data-wow-duration": "0.5s", "data-wow-delay": "0.5s", src: "https://images.unsplash.com/photo-1519991854494-05ec00713226?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2f8fc512d9176e136f399d7ec15ad66e&auto=format&fit=crop&w=800&q=60"}
    .lilybell3
      %img.image_block1.wow.fadeIn{"data-wow-duration": "2s", "data-wow-delay": "0.5s", src: "https://images.unsplash.com/photo-1509122043523-bc25fa2c1d6d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1a9f09f3a4c7f07ea30cc3f693b0e740&auto=format&fit=crop&w=800&q=60"}
      %img.image_block2.wow.fadeIn{"data-wow-duration": "2.5s", "data-wow-delay": "1s", src: "https://images.unsplash.com/photo-1537458779702-57ee7959ad56?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a4ff14c84ff733faf8bd21fe07906eaa&auto=format&fit=crop&w=800&q=60"}
    .lilybell4
      %img.image_block1.wow.fadeInLeft{"data-wow-duration": "2s", "data-wow-delay": "0.5s", src: "https://images.unsplash.com/photo-1539620027837-6e457cff51dc?ixlib=rb-0.3.5&s=68f2cd8ffe9f492df87a6c470e3d8e93&auto=format&fit=crop&w=750&q=60"}
      %img.image_block2.wow.fadeInLeft{"data-wow-duration": "2s", "data-wow-delay": "1.0s", src: "https://images.unsplash.com/photo-1539620027837-6e457cff51dc?ixlib=rb-0.3.5&s=68f2cd8ffe9f492df87a6c470e3d8e93&auto=format&fit=crop&w=750&q=60"}
      %img.image_block3.wow.fadeInLeft{"data-wow-duration": "2s", "data-wow-delay": "1.5s", src: "https://images.unsplash.com/photo-1539620027837-6e457cff51dc?ixlib=rb-0.3.5&s=68f2cd8ffe9f492df87a6c470e3d8e93&auto=format&fit=crop&w=750&q=60"}
    .lilybell5
      %p.wow.fadeInDown
        Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.<br>Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
    .lilybell6
      %img.wow.fadeInDown{"data-wow-duration": "2s", "data-wow-delay": "0.5s", src: "https://images.unsplash.com/photo-1533230050368-fbf55584f7d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=46285638c7c9a8eb707a49e6571eb542&auto=format&fit=crop&w=800&q=60"}


= render 'articles/footer'

